body{
    background-image: url("https://images5.alphacoders.com/641/thumb-1920-641999.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.slider {
    width: 500px;
    overflow: hidden;
    margin: 150px auto;
}
.slides {
    width: calc(500px * 3);
    animation: glisse 20s infinite;
}
.slide {
    float: left;
}
h1 {
    color: white;
    text-align: center;
    background-color: rgb(44, 43, 43);
}
h2 {
    color: black;
    text-align: center;   
}

.fon {
    background-color: rgb(82, 77, 77);
}

.card {
    border: black 1px solid;
    display: inline-block;
    margin: 160px;
}

footer {
    background-color: rgb(44, 43, 43);
    color: white;
    text-align: center;
}

@keyframes glisse {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(-500px);
    }
    43% {
        transform: translateX(-500px);
    }
    66% {
        transform: translateX(-1000px);
    }
    76% {
        transform: translateX(-1000px);
    }
    100% {
        transform: translateX(0);
    }
}